<template>
    <ul>
        <li v-for="ext in extensions">{{ ext }}</li>
    </ul>
</template>

<script>
    export default {
        name: "php-extensions",
        props: {
            extensions: Array
        },
        data: function () {
            return {
                numberOfExtension: this.extensions.length
            };
        }
    }
</script>

<style scoped>
    li:nth-child(3n+1) {
        color: black;
        font-weight: bold;
        background-color: rgba(255, 69, 0, 0.1);
    }
</style>